<% @rooms.each do |room| %>
  	<div class="col-4">
    	<div class="card">
			<div class="card-header preview">
				<%= image_tag room.photos.first.image.url %>
			</div>
			<div class="card-body">
				<%= link_to room.listing_name,room %><br>
				$<%= room.price %> - <%= room.home_type %>
			</div>
    	</div>
  	</div>
<% end %>