<div class="#">
	<ul>
		<li>
			<%= link_to 'Your listings',"#",class:"h5 text-dark" %>
				
		</li>
		<li>
			<%= link_to 'Pricing',"#",class:"h5 text-dark" %>
			
		</li>
		<li>
			<%= link_to 'Description',"#",class:"h5 text-dark" %>
			
		</li>
	</ul>
</div>