<div class="#">
	<ul>
		<li>
			<%= link_to 'Your listings',rooms_path,class:"h5 text-dark" %>
				
		</li>
		<li>
			<%= link_to 'Your reservations',your_reservations_path,class:"h5 text-dark" %>
			
		</li>
		<li>
			<%= link_to 'Your Trips',your_trips_path,class:"h5 text-dark" %>
			
		</li>
	</ul>
</div>