<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <%= render "room_menu" %>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="card">
      <div class="card-header">
        Photos
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>

</div>
