<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <%= render "room_menu" %>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">

            <div class="card-header bg-success text-light">
                Photos
            </div>

            <div class="card-body">
                <div class="container">
                        <div class="row">
                            <div class="offset-md-3 col-md-6">
                                <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>

                                    <div class="form-group">
                                        <span class="btn btn-default btn-file text-babu">
                                            Select Photos
                                            <%= file_field_tag "images[]", type: :file, multiple: true %>
                                        </span>
                                    </div>

                                    <div class="text-center">
                                        <%= f.submit "Add Photos", class: "btn btn-primary mt-3" %>
                                    </div>

                                <% end %>
                            </div>  
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
