<div class="row">
  	<div class="col-3">
		<div class="card">
			<div class="card-body">
				<%= render "room_menu" %>
			</div>
		</div>
  	</div>

  <div class="col-9">
		<div class="card">
			<div class="card-header bg-success text-light">
				Price
			</div>
			<div class="card-body">
				<div class="container">
					<%= form_for @room do |f| %>
						<div class="form-group">
							<label>Price</label>
							<%= f.text_field :price,placeholder: "eg: 100",class:"form-control", required: true %>
						</div>

						<div class="text-center">
							<%= f.submit "Save",class: "btn btn-primary mt-3 w-25" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>

