<% if @photos.count > 0 %>
    <br/><br/>

    <div class="row">
        <% @photos.each do |photo| %>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header preview">
                        <%= image_tag photo.image.url %>
                    </div>
                    <div class="card-body">
                        <span class="pull-right">
                            <%= link_to room_photo_path(photo.room_id, photo), method: :delete, data: {confirm: "Are you sure?"} do %>
                                <i class="fas fa-trash-alt text-dark"></i>
                            <% end %>
                        </span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>