.avatar-small{
  width: 28px;
}

.login_forget{
  float:right;
}

.show_name{
 margin-left:30px;
}

select{
 width: 150px;
 height: 35px;
 }

 .preview {
   padding: 0;
   img{
     width: 100%;
   }
 }

 .roommenu ul{
   list-style: none;
 }

 